body {
    background-color: #f0f8ff;
}

.navbar {
    background-color: #bcc4db;
}

.main-container {
    height: 100vh;
}

.steps li {
    margin-bottom: 0.5rem;
}

.forms {
    padding: 2rem;
    background-color: #bcc4db;
}

.form {
    width: 65%;
    margin: auto;
    margin-top: 3rem;
}

.container-dimensions {
    display: flex;
    justify-content: center;
    /* Space between each child */
    gap: 20px;
}

.container-dimension-input {
    flex: 1;
}

/* Options grid */
.container-options {
    margin-top: 3rem;
    display: grid;
    /* 2 columns of equal size */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

div.option {
    background-color: antiquewhite;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
}

.btn-option {
    margin-top: 1rem;
}

div.option p {
    font-weight: bold;
}

.container-direction-data,
.container-tel-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    padding: 2rem;
    background-color: #3e505b;
}

.footer p {
    color: #fff;
    margin: 0;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    color: #bcc4db;
}

@media (max-width: 500px) {
    .row {
        flex-direction: column;
    }

    .form {
        width: 100%;
    }

    .container-dimensions {
        flex-direction: column;
        align-items: center;
    }

    .container-options {
        display: flex;
        flex-direction: column;
    }

    .container-direction,
    .container-tel {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
}

@media (min-width: 501px) and (max-width: 1025px) {
    .row {
        flex-direction: column;
    }

    .container-img {
        width: 80%;
        margin-top: 3rem;
    }

    .container-hero {
        width: 80%;
    }

    .container-hero p,
    .container-hero ol {
        font-size: 1.5rem;
    }
}
